<div class="mb-8 mt-2 p-2 rounded">
  <h1 class="text-center font-semibold text-xl mt-4 mb-8">Список товаров<%=locals.category ? ` в категории "${category.name}"`: ''%></h1>
  <% if (!locals?.products?.length) { %>
    <p class="text-lg text-center">Товары не найдены</p>
  <% } else { %>
    <% if (locals.cartMessage) { %>
      <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 text-center dark:text-green-800" role="alert">
        <%= locals.cartMessage %>
      </div>
    <% } %> 
    <div class="flex max-w-fit mx-auto justify-around flex-wrap">
      <% for (const product of products) { %>
        <div class="mx-10 flex flex-col my-4 border w-[300px] p-4 bg-white rounded">
          <div class="overflow-hidden">
            <img class="hover:scale-110 transition-all duration-700 w-full aspect-square object-cover block" src="/public/models/<%= product.photo %>" alt="" />
          </div>
          <p class="text-center text-xl my-2"><%= product.name %></p>
          <p class="text-center text-lg my-2"><%= product.description %></p>
          <p class="text-center text-sm mt-2 mb-2">В наличии: <%= product.count %> шт | Цена: <%= product.price %> р.</p>
          <form method="post" action="/add_to_cart/<%= product.id %>" class="mt-auto p-2 mb-0">
            <div class="block">
              <p class="w-fit whitespace-nowrap my-1">Кол-во товара:</p>
              <input type="number" required min="1" max="<%= product.count %>" class="hadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="1" name="count" />
            </div>
            <input type="submit" value="В корзину" class="block cursor-pointer w-full text-center text-white bg-green-500 px-5 py-2 mt-4 mb-2 mx-auto" href="/products" />
          </form>
        </div>
      <% } %> 
    </div>
  <% } %>  
</div>

<% if (locals?.user?.role === 'admin') { %> 

  <%- include('../partials/form', {
        title: 'Добавить товар',
        action: '/products',
        enctype: 'multipart/form-data',
        values: { ...locals.values, categoryId: locals?.category?.id },
        inputs: [
          { type: 'text', 'name': 'name', 'label': 'Наименоване товара' },
          { type: 'text', 'name': 'description', 'label': 'Краткое описание товара' },
          { type: 'textarea', 'name': 'detailDescription', 'label': 'Детальное описание товара' },
          { type: 'number', 'name': 'count', 'label': 'Количество товара', 'min': 0 },
          { type: 'number', 'name': 'price', 'label': 'Цена за штуку (в рублях)', 'min': 0 },
          { type: 'file', 'name': 'photo', 'label': 'Фото', accept: 'image/*' },
          { type: 'hidden', 'name': 'categoryId' }
        ]
    }) %>   
<% } %>
