<form class="w-full p-2 overflow-auto" action="<%= locals.action ?? '/' %>" method="<%= locals.method ?? "POST" %>">
  <% if (locals.title) { %> 
    <h1 class="text-center m-2 text-xl font-semibold"><%= title %></h1>
  <% } %>
  <% if (locals.inputs) { %>
    <% for (const input of inputs) { %>
      <div class="my-4">
      <% if (input.label) { %>
        <label class="block w-full py-1 text-gray-800 text-sm mb-1"><%= input.label %></label>
      <% } %> 
      <% if (['text', 'email', 'password', 'number', 'url', 'tel'].includes(input.type)) { %>
        <input
            class="<%= (locals.errors && locals.errors[input.name]) ? 'border-red-500' : 'focus:border-blue-400' %> border rounded outline-none w-full py-2 px-3 mb-1 text-gray-700 leading-tight focus:outline-none "
            type="<%= input.type %>"
            value="<%= (locals.values && locals.values[input.name]) ?? '' %>"
            name="<%= input.name ?? '' %>"
            placeholder="<%= input.placeholder ?? '' %>"
        />
      <% } %>
      <% if (locals.errors && locals.errors[input.name]) { %>
        <p class="text-red-500"><%= locals.errors[input.name] %></p>
      <% } %>
    </div>
    <% } %>
  <% } %>
  <input class="block text-center bg-blue-600 px-5 py-2 rounded text-white mt-8" type="submit" value="<%= locals.submitTitle ?? 'Отправить' %> " />
</form>
