<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <%- style -%>
    <link rel="icon" href="/public/favicon.svg" sizes="any" type="image/svg+xml" />
    <title><%= locals.title || 'Document' -%></title>
  </head>
  <body class="min-h-screen min-w-[500px]">
    <div class="relative overflow-hidden bg-gray-50">
      <%- include('../partials/header') -%>
      <div class="min-h-[calc(100vh-var(--header-h))]"><%- body -%></div>
      <%- include('../partials/footer') -%>
    </div>
    <script>
      const headerNav = document.getElementById('header-nav');
      const menuButton = document.getElementById('menu-button');
      menuButton.addEventListener('click', () => {
        headerNav.classList.toggle('hidden');
      });
    </script>
    <%- script -%>
  </body>
</html>
